:root {
	--theme-color-mid: #5085a5;
	--theme-color-dark: #687864;
	--theme-color-light: #f7f9fb/*#efebe2*/;
}
html {
	font-family:Palatino,Courier New,Georgia,Garamond, sans-serif;
	font-size:16px;
	overflow:hidden;
	background: var(--theme-color-light);
}

body {
	margin: 0;
}

a {
	font-weight:400;
	font-size:1.2rem;
}

a:link, a:visited{
	text-decoration: none;
}

ul {
	list-style: none;
}

/* ----- Header ------- */
header {
	width: 100vw;
	height: 6vh;
	background-color: var(--theme-color-light);
	position: fixed;
	top: 0;
	left: 0;
	z-index:100;
}

nav {
	width: 100%;
	height:100%;
}

header a , header ul{
	float:right;
}

header a {
	padding: 2.2vh 25px;
	letter-spacing: 1.5px;
	color: var(--theme-color-mid);
	font-size:1.2rem;
}

.a-click {
	background-color : rgb(0,0,0,0.4);
	color: var(--theme-color-light);
	border-bottom: 10px solid var(--theme-color-mid);
}

header ul {
	display:none;
	position:absolute;
}

header ul li {
	padding: 20px;
	background-color:rgb(0,0,0,0.4);
	color:var(--theme-color-light);
	border-bottom: 1px solid white;
}

.bodycontainer {
	margin-top: 6vh;
	width:100vw;
	height:94vh;
	overflow-y: scroll;
}
/* ----- Main ----- */
main {
	width: 100vw;
}

figure {
	width:100vw;
	height: 94vh;
	margin:0;
	overflow:hidden;
}

.figurecontainer {
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

.figureoutline{
	margin: 5vh 3vw;
	border: 3px solid #fff;
	height: 84vh;
	width: 94vw;
}

.figure-backgroundimage {
	background-image:url("./images/background.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.figure-title {
	text-align: center;
	position: relative;
	top: 32vh;
	left: 0;
	font-size: 16rem;
	color:#fff;
	width: 100vw;
	height: 20vh;

	/*Transform*/
	opacity: 0;
	-webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: opacity;
    transition-duration: 2s;
}

.figure-down {
	text-align: center;
	color: var(--theme-color-mid);
	font-size:4rem;
	position:absolute;
	left:0;
	bottom:0;
	width:100vw;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));

	/*Transform*/
	opacity: 0;
	-webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-property: opacity;
    transition-duration: 0.5s;
}

blockquote {
	font-size:1.4rem;
	margin:0;
	padding: 10vh 5vw;
	color: var(--theme-color-light);
	text-align:center;
	background-color:var(--theme-color-dark);
}

section {
	width:100vw;
	height: 94vh;
	margin:0;
	overflow:hidden;
	position:relative;
}

.aboutmesection-backgroundimage {
	background-image:url("./images/aboutme.jpg");
	background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    /*opacity: 0.3;*/
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.aboutmesection-left{
	margin: 5vh 0;
	margin-left: 3vw;
	border: 3px solid #fff;
	height: 74vh;
	width: 41vw;
	padding: 5vh 3vw;
	float:left;
}

.aboutmesection-right {
	margin: 5vh 3vw;
	height: 74vh;
	width: 40vw;
	background-color: white;
	float:left;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.aboutmesection-text {
	position: relative;
	color: var(--theme-color-mid);
}

.aboutme-title {
	line-height: 150px;
	font-size: 3rem;
	text-align:center;
}

.aboutmesection-text p {
	line-height: 4rem;
	font-size: 1.8rem;
}

/* ----- Footer ----- */
footer {
	width: 100vw;
	height: 2vh;
	color: var(--theme-color-mid);
	background-color: var(--theme-color-light);
	font-size: 0.8rem;
	padding-top: 0.5vh;
}

/* ----- Responsive ----- */

